@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root{
    --red:#dc3545;
    --orange:#fd7e14;
    --green:#28a745;
    --teal:#20c997;
    --info:#17a2b8;
    --blue:#007bff;
    --primary:#ff253a;
    --background: linear-gradient(135deg, #0cc5b7 0%, #2bd891 100%);
    --background--btn: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0%;
    box-sizing:border-box;
    outline:none;
    text-transform:capitalize;
    text-decoration:none;
    border:none;
    transition:all .3s linear;
}

*::selection{
    background: var(--tela);
    color:#fff;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:6.5rem;

}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--green);
    border-radius:5rem;
}

body{
    background: #eff7fa;
    color:#888;
}

section{
    padding:3rem 9%;
}
/* ----------------------------------------------------header section starts----------------- */
.header-1{
    background: var(--background);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:2rem 7%;
}

.header-1 .search-box-container {
    display:flex;
    width:50rem;
    height:4rem;
    background:#fff;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

}

.header-1 a img:hover{

    transform: scale(2.2) ;   /* Increase the size of the image on hover */
    transition: .2s linear; 
    cursor: pointer;
    
}

.header-1 .search-box-container #search-box{
    width:100%;
    height:100%;
    padding:1rem;
    font-size:1.5rem;
    color:#333;
    font-style:italic;
    background:none;
    text-transform:none;
    border-radius:.5rem;
}

.header-1 .search-box-container label{
    width:8rem;
    height:100%;
    line-height:4rem;
    text-align:center;
    background: var(--background--btn);
    color:#fff;
    font-size:1.5rem;
    cursor:pointer;
}

.header-2{
    background: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 7%;
    height:5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    position:relative;
}

.header-2 .navbar a{
font-size:1.5rem;
color:#000;
padding:1.5rem;
font-weight:normal;
margin:0 .1rem;
}

.header-2 .navbar a:hover{
    color:#fff;
    background:var(--background--btn);
    transition: .2s linear;
}

.header-2 .shop-nav .active {
    background: var(--background--btn);
    color:#fff;
}
.header-2 .icons a{
    font-size: 1.5rem;
    color:#888;
    padding-left:1rem;
    font-weight:normal;
}
.header-2 .icons a i{
    color:var(--orange);
    margin-right: .5rem;
}
.header-2 .icons a:hover{
    color:var(--red);
}
.header-2 #menu-bar{
    font-size:2rem;
    border-radius:.5rem;
    padding:.8rem 1.5rem;
    color:#fff;
    background: var(--orange);
    cursor:ponter;
    display:none;
}
/* ----------------------------------------------------header section ends----------------- */

/* ------------------------------------home section starts-------------------------------------- */
.box-container{
    display:grid;
    grid-template-columns:.8fr 2.5fr;
     gap:1.5rem;
}

.box-container .left-col .title{
    padding:1.5rem;
    font-size:2rem;
    color:#fff;
    background:var(--background--btn);
    text-transform:capitalize;
}

.box-container .left-col .box{
    padding:0;
    background: #fff;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.box-container .left-col .box a{
    padding:.5rem;
    font-size:1.3rem;
    color:#000;
    display:flex;
    align-items:center;
    border-bottom:1px solid rgba(0,0,0,.1);
    text-decoration: none;
}


.box-container .left-col .box a:hover img {
    transform: scale(2.2) ;   /* Increase the size of the image on hover */
    transition: .2s linear; 
    cursor: pointer;
}
.box-container .left-col .box a p{
    margin-left:.8rem;
    flex:1;
}
.box-container .left-col .box a span {
    margin-left:13rem;
    color:#808080;
    background: rgba(0,0,0,.1);
    border-radius:.5rem;
    padding:.5rem;
}
.box-container .left-col .box a img{
    width:30px;
}
.box-container .left-col .box a:hover{
    border-left:.3rem solid var(--green);
    background: #eff7fa;
    border-right:.1rem solid var(--green);
}
.box-container .left-col .box a:hover span{
    background:var(--green);
    color:#fff;
}

.box-container .right-col img{
    width:100%;
}

/* ------------------------------------home section ends-------------------------------------- */
/* -------------------------------------products section starts--------------------------------- */
.heading{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.heading h2{
    color:#333;
    font-weight:bold;
    font-size:1.8rem;
    letter-spacing: 1px;
}
.heading h2 span{
    margin-left:.5rem;
    text-transform:uppercase;
    background:var(--blue);
    color: #fff;
    font-size:1.3rem;
    padding:.5rem 1rem;
}
.heading  a{
    font-size:1.7rem;
    color:var(--blue);
    font-family:sans-serif;
}
.heading a:hover{
    color:#000;
}
.product .box-container{
    padding-top: 2rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.product .box-container .box{
    flex:1 1 30rem;
    text-align:center;
    padding:1.5rem;
    background:#fff;
    border-radius:.3rem;
    position:relative;
    box-shadow: 0 2px 8px 0 rgba(0 0 0/6%);
}
.product .box-container .box:hover img{
    transform:scale(1.1);
    transition: .2s linear;
} 

.product .box-container .box .discount{
    position:absolute;
    top:2rem;
    left:2rem;
    background: rgba(0,255,0,.1);
    color:var(--green);
    padding:.7rem 1rem;
    font-size:1.2rem;
    z-index:1000;
}
.product .box-container .box h3{
    color:var(--blue);
    font-size:1.5rem;
    margin-bottom:.5rem;
    margin-top:.5rem;
}
.product .box-container .box p{
    font-size:1.3rem;
    color:#808080;
    font-weight:bold;
    letter-spacing: .1rem;
}
.product .box-container .box p span{
    margin-right:.3rem;
}
.product .box-container .box .price{
    font-size:1.5rem;
    color:#000;
    font-weight:bold;
    padding:1rem 0;
    margin-bottom:1rem;
}
.product .box-container .box .price span{
    font-size:1.3rem;
    color:#999;
    margin-right:.5rem;
    text-decoration:line-through;
}
.product .box-container .box .btn{
    font-size:1.3rem;
    padding:.5rem 1.5rem;
    background:var(--background--btn);
    color:#fff;
    font-weight:bold;
    border-radius: 5rem;
    outline:none;
    cursor:pointer;
    border:none;
}
.product .box-container .box .btn:hover{
    transform:scale(1.1);
    transition: .2s linear;
}
.product .box-container .box .corner-box{
    position:absolute;
    top:2rem;
    right:1.5rem;
    width:2.5rem;
    height:2.5rem;
    border:.1rem solid var(--green);
    z-index:1000;
}
.product .box-container .box .corner-box span{
    position:absolute;
    width:1rem;
    height:1rem;
    top:.6rem;
    right:.6rem;
    border-radius:50%;
    background:var(--green);
}



/* -------------------------------------products section ends--------------------------------- */

.container .box-container{
    background: url('images/1-2.webp');
    padding:8.5rem;
}

.last-product .box-container .box {
    flex:1 1 20rem;
}

.last-product .box-container .box .btn:hover{
    transform:scale(1.1);
    transition: .2s linear;
}

/* -----------------------------------footer section starts---------------------------- */
.footer{
    background: #fff;
    margin-top: 3rem;
}
.footer .wrapper{
    padding-top:2rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    padding-bottom:5rem;
    border-bottom:.1rem solid rgba(0,0,0,.1);
}
.footer .wrapper  .feature-box{
    flex:1 1 30rem;
    display:flex;
    align-items:center;
}
.footer .wrapper  .feature-box i{
  width:7rem;
  height:7rem;
  border:.1rem solid var(--blue);
  text-align:center;
  line-height:7rem;
  font-size:2rem;
  border-radius:50%;
  color:var(--blue);
  margin-right: 1.5rem;
}

.footer .wrapper  .feature-box .content h3{
font-size:1.5rem;
color:var(--blue);
padding-bottom:.5rem;
font-weight:bold;
}
.footer .wrapper  .feature-box .content  p{
    font-size:1.3rem;
    color:#333;
    font-weight:500;
}
.footer .box-container{
    padding-top: 5rem;
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
}

.footer .box-container .box{
    flex-basis:1 1 30rem;
    padding:0 3rem;
}

.footer .box-container .box .icons{
    margin: top 2.5em;
}

.footer .box-container .box .icons a{
    display:block;
    padding:.4rem 0;
    font-size:1.3rem;
    color:#808080;
}
.footer .box-container .box .icons-1 a:nth-child(3){
    color:var(--teal);
    text-transform:none;

}
.footer .box-container .box .icons-1 a:nth-child(4){
    color:var(--blue);
    text-transform: none;
}
.footer .box-container .box .icons a i{
    margin-right:.5rem;
}
.footer .box-container .box h2{
    font-size:2rem;
    text-transform:uppercase;
    font-weight:bold;
}
.footer .box-container .box .image img{
    width:13rem;
    margin-right:1rem;
    cursor:pointer;
}

.credit{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:2rem;
    color:#fff;
    background: var(--teal);
    padding:3rem 0;
    letter-spacing:.1rem;

}

.credit span{
    font-size:2.5rem;
    font-weight:bold;
    margin:0 1rem;
}
/* -----------------------------------footer section ends---------------------------- */

















/* ===================================================css for about us============================ */


.about{
    background: #fff;
}

.about .heading-1{
    text-align: center;
    font-size: 4rem;
    color: #333;
    text-transform: uppercase;
    padding: 5rem 0;
}


.about .box-container{
    display: flex;
    flex-wrap: wrap;
}

.about .box-container .left-col{
    flex: 1 1 25rem;
}

.about .box-container .left-col img{
    width: 90%;
}

.about .box-container .right-col{
    flex: 1 1 50rem;
} 

.about .box-container .right-col .heading-2{
    font-size: 4rem;
    color: var(--red);
    margin-bottom: 3.5rem;
}

.about .box-container .right-col .box{
    padding: 1.5rem 0;
}

.about .box-container .right-col .box h2{
    color: #333;
    font-size: 2rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.about .box-container .right-col .box p{
    font-size: 1.5rem;
    line-height: 1.7;
    color: #808080;
    letter-spacing: .1rem;
}

/* -----------------------------------------service section starts--------------------------------- */

.services .content{
    text-align: center;
    padding-bottom: 3rem;
}

.services .content .heading-1{
    font-size: 3rem;
    color: #000;
    padding: .7rem;
    font-weight: bold;
}

.services .content .para{
    font-size: 1.2rem;
    color: #333;
}

.services .box-container{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 30rem;
    padding: 2rem 0;
}

.services .box-container .box i{
    font-size: 4rem;
    color: var(--teal);
}

.services .box-container .box .content-1{
    padding-top: 2.5rem;
}

.services .box-container .box .content-1 h2{
    font-size: 2rem;
    color: var(--blue);
    padding-bottom: 1rem;
}

.services .box-container .box .content-1 p{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #808080;
    line-height: 1.7;
}

/* -------------------------- services section ends--------------------------------------------  */



/* ------------------------------------ team section starts -----------------------------------  */

.team{
    background: #fff;
}
.team .team-heading{
    text-align: center;
    padding: 3rem;
}

.team .team-heading h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: #000;
}

.team .team-heading p{
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #333;
    letter-spacing: .1rem;
}

.team .box-container{
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.team .box-container .box{
    flex: 1 1 30rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.team .box-container .box img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.team .box-container .box p{
    padding: 2rem 0;
    font-size: 1.2rem;
    color: #808080;
}

.team .box-container .box .name h2{
    font-size: 1.7rem;
    color: var(--blue);
}



/* ////////////////////////////////////////// CSS for Shop Page ///////////////////////// */

.shop-product{
    padding-top: 5rem;
}

.header-2 .shop-nav .active{
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    color: #fff;
}

.box-container .left-col{
    margin-right: 2rem;
}

.box-container .left-col .box{
    padding-top: 2rem;
}

.box-container .left-col .left-col-1 .check{
    padding: 1rem;
    display: flex;
    align-items: center;
}

.box-container .left-col .left-col-1 .check  i{
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--orange);
}

.box-container .left-col .left-col-1 .check a{
    background: none;
    font-size: 1.3rem;
    border: none;
    padding: 0;
    margin: 0;
    color: #808080;
}

.box-container .left-col .left-col-1 .check a:hover{
    color: var(--orange);
    letter-spacing: 1px;
}

.box-container .left-col .col-2 , .box-container .left-col .col-3{
    margin-top: 3rem;
}

.box-container .left-col .col-3 .image{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.box-container .left-col .col-3 .image img{
    width: 7rem;
    margin-right: 1rem;
}

.box-container .left-col .col-3 .image .content h3{
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 0;
    cursor: pointer;
}

.box-container .left-col .col-3 .image .content h3:hover{
    color: #000;
}

.box-container .left-col .col-3 .image .content p{
    color: var(--red);
    font-size: 1.3rem;
    font-weight: normal;
}

.box-container .left-col .col-3 .image .content p span{
    color: #808080;
    font-size: 1.2rem;
    text-decoration: line-through;
    margin-right: .5rem;
}

.box-container .right-col .right-col-1{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-container .right-col .right-col-1 .icons i{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: .2rem solid rgba(0,0,0,.1);
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.box-container .right-col .right-col-1 .icons i:nth-child(1){
    color: var(--orange);
    margin-right: 1rem;
}

.box-container .right-col .right-col-1 .select select{
    height: 4rem;
    border: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    text-transform: none;
    padding: 0 1rem;
}

.box-container .right-col .right-col-1 .select select option{
    text-transform: none;
    font-size: 1.3rem;
}


.box-container .right-col .right-col-3 .product{
    padding: 0;
}

.box-container .right-col .right-col-3 .product .box-container .box{
    flex: 1 1 22rem;
}

.box-container .right-col .right-col-3 .product .box-container .box img{
    width: 18rem;
}

.box-container .right-col .next-page{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-container .right-col .next-page .page{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: .1rem solid rgba(0,0,0,.1);
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--green);
    background: #fff;
}

.box-container .right-col .next-page .page:nth-child(1){
    color: #fff;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
}

.footer .box-container{
    padding-top: 2rem;
}

/* ==================================== shop page end ====================================  */










/* ================================ CSS For Blog Page =================================  */

.blog .box-container{
    display: grid;
    grid-template-columns: 2.5fr 1.2fr;
    gap:2rem;
}

.blog .box-container .b-left-col .box{
    background: #fff;
    padding: .5rem;
    border-radius: .5rem;
    margin: 2rem 0;
}
.blog .box-container .b-left-col .box img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: .5rem;
}

.blog .box-container .b-left-col .box .content{
    padding: 2rem 2rem;
}

.blog .box-container .b-left-col .box .content h2{
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    padding-bottom: .5rem;
}

.blog .box-container .b-left-col .box .content .icon a{
    font-size: 1.3rem;
    margin-right: 1.3rem;
    color: #808080;
}

.blog .box-container .b-left-col .box .content .icon a i{
    margin-right: .5rem;
}

.blog .box-container .b-left-col .box .content p{
    padding: 1.5rem 0;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    line-height: 1.7;
    text-transform: none;
}

.blog .box-container .b-left-col .box .content .btn{
    font-size: 1.3rem;
    color: var(--green);
    text-transform: uppercase;
}

.blog .box-container .b-left-col .box .content .btn i{
    margin-left: 1rem;
}

.blog .box-container .b-left-col .next-page{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .box-container .b-left-col .next-page .page{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border: .1rem solid rgba(0,0,0,.1);
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--green);
    background: #fff;
}

.blog .box-container .b-left-col .next-page .page:nth-child(3){
    width: 6rem;
}

.blog .box-container .b-left-col .next-page .page:nth-child(1){
    color: #fff;
    background: var(--teal);
}


/* ----------------------------- b-right-col starts ----------------------------  */

.box-container .b-right-col .box{
    margin: 2rem;
}

.box-container .b-right-col .box .search-box{
    display: flex;
    width: 30rem;
    height: 4rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.box-container .b-right-col .box .search-box #b-search-box{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
    font-style: italic;
    background: none;
    text-transform: none;
    border-radius: .5rem;
}

.box-container .b-right-col .box .search-box label{
    width: 8rem;
    height: 100%;
    line-height: 4rem;
    text-align: center;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.box-container .b-right-col .b-r-1{
    margin-top: 5rem;
    background: #fff;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: .5rem;
}

.box-container .b-right-col .b-r-1 .title{
    font-size: 2rem;
    letter-spacing: .1rem;
}

.box-container .b-right-col .b-r-1 .content{
    padding: 1.5rem 0;
}

.box-container .b-right-col .b-r-1 .content a{
    display: block;
    padding: .8rem 0;
    font-size: 1.3rem;
    color: #808080;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    margin: .8rem 0;
}

.box-container .b-right-col .b-r-1 .content a i{
    margin-right: .5rem;
    font-size: 1rem;
}

.box-container .b-right-col .b-r-1 .content a:last-child{
    border: none;
}

.box-container .b-right-col .b-r-2,
.box-container .b-right-col .b-r-2 .title{
    padding-bottom: 1rem;
}

.box-container .b-right-col .b-r-2 .box .tags a{
    display: inline-block;
    text-transform: uppercase;
    padding:1rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: .5rem;
    margin:.2rem;
    background: #ccc;
}

.box-container .b-right-col .b-r-2 .box .tags a:hover{
    background: #000;
}














/* ///////////////////////////////////// CSS for Contact page ////////////////////////  */

.contact{
    background: #eff7fa;
}

.contact .box-container{
    display: flex;
    flex-wrap: wrap;
}

.contact .box-container .left{
    flex-basis: 40%;
}

.contact .box-container .right{
    flex-basis: 52%;
}

.contact .box-container .right .box{
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
}

.contact .box-container .right .box iframe{
    width: 100%;
    height: 100%;
}

.contact .box-container .left h1{
    padding-bottom: 4rem;
    font-size: 2.5rem;
    color: #222;
}

.contact .box-container .left .Box a{
    font-size: 1.8rem;
    color: #444;
    font-weight: bold;
}

.contact .box-container .left .Box a i{
    font-size: 1.6rem;
    margin-right: 1rem;
}

.contact .box-container .left .Box p{
    font-size: 1.3rem;
    color: #808080;
    padding: 1rem 0;
}

.contact .box-container .left .Box a:hover{
    color: var(--green);
    transition: .3s linear;
}

.contact .box-container .left .box .link{
    display: flex;
    align-items: center;
}

.contact .box-container .left .box .link p{
    font-size: 1.5rem;
    color: #444;
    margin-right: 1rem;
    font-weight: 700;
}

.contact .box-container .left .box .link a i{
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    color: #808080;
    margin-right: .5rem;
}

.contact .box-container .left .box .link a i:hover{
    background: var(--teal);
    color: #fff;
    font-size: 1.7rem;
}

/* --------------------------- contact form section starts ------------------------  */

#contact{
    background: #fff;
}

.contact .heading{
    font-size: 3.5rem;
    color: #333;
    font-weight: bold;
    padding: 1.5rem 0;
    text-transform: capitalize;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    width: 49%;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}

.contact form .btn{
    background:var(--teal);
    color: #fff;
    padding: .8rem 3rem;
    cursor: pointer;
}





























/* -------------------------------------------------------changes in code-------------------- */

/* CSS for image hover effect */






